CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


build/
MindScape_BuildVars\.txt

\.vs/*
\.vscode/settings\.json
\.vscode/
./CMakeSettings\.json/